.mat-radio-button ~ .mat-radio-button {
  padding-right: 16px;
}
    
  .wrapper {
    padding: 70px 70px 0;
    display: block;
  }
    
  .md{
    text-decoration:none;
    color: white;
  }
  
  .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  .btn-submit { 
    background-color: dodgerblue; 
    color: white; 
    text-align: left;
}

.h2{
    text-align: center
}

.quiz-panel{
  width: 50%;
}