<div class="card">     
    <div class="card-body">
        <h2>HTML & CSS</h2>
     <video controls autoplay reload="none" style="width:700px;">
      <source src="assets/howard-html-css-presentation.mp4" type="video/mp4" />
     </video>
    </div>
   </div> 

   <div class="card">     
      <div class="card-body">
          <h2>Interface Design</h2>
       <video controls autoplay reload="none" style="width:700px;">
        <source src="assets/howard-interface-design-presentation.mp4" type="video/mp4" />
       </video>
      </div>
     </div> 

<div class="card">     
    <div class="card-body">
        <h2>DevOps: Continuous Integration</h2>
      <video controls autoplay reload="none" style="width:700px;">
      <source src="assets/howard-continuous-integration-presentation.mp4" type="video/mp4" />
     </video>
    </div>
   </div> 
